/* Generic Styles */
*{
    margin:0;
    padding:0;
    border:0;
  }
  
   body {
    background: url("../img/three.jpg");
    background-size: cover;
    font-family: Libre Franklin,Arial,Helvetica,sans-serif;
    color: #404040;  
  }
  /*---- Nav menu for home, gallery and signup pages----*/
  #menu {
    
    float: right;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding-top: 20px;
    padding-right: 20px;
    font-family: Libre Franklin,Arial,Helvetica,sans-serif; 
    font-weight: 500;
    }

#menu a {
  text-decoration: none;
  color: inherit;
  font-size: larger;
}

#menu a:hover {
			text-decoration: none;
      border-bottom: 1.5px solid;
		}

.active {
  border-bottom: 1.5px solid;
}
/*---- Home ----*/
h1 {
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  padding-top: 20% ; 
  letter-spacing: 2px;
}

h2 {
 font-size: large;
 padding-top: 20px;
 padding-bottom: 25%;
 font-weight: 400;
 text-align: center;
}

#cover-text {
  width: 780px;
  height: 560px;
  background-color: rgba(171, 222, 231, 0.849);
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-weight: 520;
  padding: 20px;
}

#text-about {
  text-align: center;
  font-size: 1.1rem; 
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bolder;
}

#text-center {
text-align: center;
font-size: 1.2rem;
padding-left: 5px;
padding-right: 5px;
}

#reasons-to-join {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding-top: 17px;
  padding-bottom: 10px;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  text-align: center;
} 

li {
font-size: 1.2rem;

}
.contact {
  text-align: center;
}

#contact-details {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.contact {
  text-align: center;
  font-size: 1.1rem;
}

#address {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}


h3 {
  font-size: 1.1rem; 
  letter-spacing: 2px;
}

#map {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

h4 {
  text-align: center;
  padding-top: 5px;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 2px;
}


.links {
  text-align: center;
  padding: 5px;
}

.links i {
  font-size: 150%;
  margin: 1%;
  color: #777777;
  padding-left: 10px;
  padding-right: 10px;
}

footer > p {
  text-align: center;
  font-size: small;
  letter-spacing: 2px;
  padding-top: 5px; 
  padding-bottom: 5px;
}

footer {
  background-color: rgba(171, 222, 231, 0.849);
}

/*Menu and logo for gallery and signup pages*/

#secondary {
  float: left;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Libre Franklin,Arial,Helvetica,sans-serif;
  
}

#secondary, #menu {
  line-height: 75px;
}

/*Gallery page*/

#works {
  padding-top: 80px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: Libre Franklin,Arial,Helvetica,sans-serif;
}

.gallery .row {
  padding: 10px 0;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding: 10px 0;
}


/*Sign Up page*/

.block {
  display: block;
  padding: 10px;
  font-weight: bold;
}

#center {
  padding-top: 100px;
  padding-bottom: 100px;
}

fieldset {
  
  text-align: center;
  letter-spacing: 2px; 
}

input:focus {
  background-color: rgba(135, 222, 228, 0.945); 
  outline: none;
}

#signup-form {
  padding-bottom: 5px;
  padding-top: 5px;
}

form {
  width: 400px;
  height: 430px;
  padding-top: 50px;
  margin: 25px auto;
  background-color: rgba(171, 222, 231, 0.849);
}

  button[type=submit] {
    color: black;
    padding: 10px;
    background-color: rgba(135, 222, 228, 0.945);
  }

  label {
    margin: 10px 15px 5px 0;
    font-size: small;
  }

 




