/* Generic Styles */
*{
    margin:0;
    padding:0;
    border:0;
  }
  
   body {
    background: url("../img/three.jpg");
    background-size: cover;
    font-family: Libre Franklin,Arial,Helvetica,sans-serif;
    color: #777777;
    
  }
  /*---- Nav menu for home, gallery and signup pages----*/
  #menu {
    
    float: right;
    padding: 20px;
     
    }

#menu a {
  text-decoration: none;
  color: inherit;
  
}

#menu a:hover {
			text-decoration: none;
      border-bottom: 1.5px solid #777777;
		}

.active {
  border-bottom: 1.5px solid #777777;
}
/*---- Home ----*/
.logo {
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 20% ; 
  letter-spacing: 2px;
}

#club-for {
 font-size: 17px;
 padding-top: 20px;
 padding-bottom: 10%;
 font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 1.1rem; 
  letter-spacing: 2px;
  padding-top: 120px;
}

#reasons {
list-style-type: none;
text-align: center;
font-size: 1.1rem;
}

.contact {
  text-align: center;
}

#contact-details {
  padding-top: 20px;
}

.address {
  padding: 200px 125px 20px;
}

h3 {
  font-size: 1.1rem; 
  letter-spacing: 2px;
}

#map {
  text-align: center;
}

.social {
  text-align: center;
  padding: 10px;  
}

.links {
  text-align: center;
  padding: 5px;
}

.links i {
  font-size: 150%;
  margin: 1%;
  color: #777777;
}

footer > p {
  text-align: center;
  font-size: small;
  letter-spacing: 2px;
  padding-top: 10px; 
  padding-bottom: 5px;
}


