/* Generic Styles */
*{
    margin:0;
    padding:0;
    border:0;
  }
  
   body {
    background: url("../img/three.jpg"); 
    background-size: cover;
    font-family: Libre Franklin,Arial,Helvetica,sans-serif;
    color: #356c8b;  
  }
  /*---- Nav menu for home, gallery and signup pages----*/
  #menu {
    
    float: right;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding-top: 20px;
    padding-right: 20px;
    font-family: Libre Franklin,Arial,Helvetica,sans-serif; 
    font-weight: 500;
    }

#menu a {
  text-decoration: none;
  color: inherit;
  font-size: larger;
}

#menu a:hover {
			text-decoration: none;
      border-bottom: 1.5px solid;
		}

.active {
  border-bottom: 1.5px solid;
}
/*---- Home ----*/
h1 {
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  padding-top: 10% ; 
  letter-spacing: 2px;
}

h2 {
 font-size: large;
 padding-top: 20px;
 padding-bottom: 20px;
 font-weight: 400;
 text-align: center;
}

#cover-text {
  width: 760px;
  height: 440px;
  background-color: rgba(171, 222, 231, 0.568);
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-weight: 520;
  padding: 20px;
}

#text-about {
  text-align: center;
  font-size: 1.1rem; 
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bolder;
}

#text-center {
text-align: center;
font-size: 1.2rem;
padding-left: 5px;
padding-right: 5px;
}

#reasons-to-join {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding-top: 17px;
  padding-bottom: 10px;
  font-weight: bolder;
}

#meetings {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding-top: 17px;
  padding-bottom: 10px;
  font-weight: bolder;
}

ul {
  text-align: center;
  list-style-type: none;
} 

li {
font-size: 1.2rem;
}

#contact-details {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.contact {
  text-align: center;
  font-size: 1.1rem;
}

#address {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

#times{
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

#center {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.1rem; 
  letter-spacing: 2px;
}

#map {
  text-align: center;
 }

iframe {
  width: 800px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer > h3 {
  text-align: center;
  padding-top: 10px;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 2px;
}


.links {
  text-align: center;
}

.links i {
  font-size: 150%;
  margin: 1%;
  color: #777777;
  padding-left: 10px;
  padding-right: 10px;
}

footer > p {
  text-align: center;
  font-size: small;
  letter-spacing: 2px;
  padding-top: 5px; 
  padding-bottom: 10px;
}

footer {
  background-color: rgba(171, 222, 231, 0.568);
}

/*Menu and name of the club for gallery, signup and learn more pages*/

#secondary {
  float: left;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Libre Franklin,Arial,Helvetica,sans-serif;
}

#secondary, #menu {
  line-height: 75px;
}

/*Gallery page*/

#works {
  padding-top: 80px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: Libre Franklin,Arial,Helvetica,sans-serif;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 10px;
}

#photo img {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

/*Sign Up page*/

.block {
  display: block;
  padding: 10px;
  font-weight: bold;
}

#center {
  padding-top: 150px;
  padding-bottom: 100px;
}

fieldset {
  
  text-align: center;
  letter-spacing: 2px; 
}

input:focus {
  background-color: rgba(135, 222, 228, 0.945); 
  outline: none;
}

#signup-form {
  padding-bottom: 5px;
  padding-top: 5px;
}

form {
  width: 400px;
  height: 390px;
  padding-top: 50px;
  margin: 25px auto;
  background-color: rgba(171, 222, 231, 0.568);
}

  button[type=submit] {
    color: black;
    padding: 10px;
    background-color: rgba(135, 222, 228, 0.945);
  }

  label {
    margin: 10px 15px 5px 0;
    font-size: small;
  }

  /*Learn more page"*/

  #headernext {
  padding-bottom: 100px;
  }

  #activities {
    text-align: center;
    padding-bottom: 25px;
    background-color: rgba(171, 222, 231, 0.568);
    width: 800px;
    height: 525px;
    margin-left: auto;
    margin-right: auto;
  }

 
/*----Media Queries. Copied parts of code. See README.md */

/* For small screens sizes from 800px wide and down */

@media screen and (max-width: 800px) {
  #photo {
    column-count: 3;
  }

  h1 {
    padding-top: 20%;
  }

  #works {
    padding-top: 15%;
  }
  
  #headernext {
    padding-bottom: 15%;
  }

  #bottom-next {
    padding-bottom: 20%;
  }

  #center {
    padding-top: 300px;
  }

  #cover-text {
    width: 80%;
    height: 60%;
  }

  iframe {
    width: 85%;
    height: 10%;
  }

  #activities {
    width: 85%;
  }

 
}

/* For small screens sizes max-width 600px*/

@media(max-width: 600px) {
  
   #menu a {
  font-size: medium;
  }

  /*Home page*/
  
  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  h2 {
    padding-left: 1%;
    padding-right: 1%;
  }

  #cover-text {
    width: 80%;
    height: 60%;
  }

  iframe {
    width: 90%;
    height: 10%;
  }
 
  /* Gallery page*/

  #secondary {
    padding-top: 1px;
    padding-bottom: 35px;
  }

  #works {
    padding-top: 1px;
  }

  #photo {
    column-count: 1;
  }

  /* Signup page*/
   form {
     width: 80%;
   }

   #center {
     padding-top: 2%;
   }

   /* Learnmore page*/

   #headernext {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
   }

   #activities {
     width: 90%;
     height: 60%;
     font-size: small;
   } 
}